@import "./../lib/bootstrap/scss/bootstrap.scss";
@import "./../lib/bootstrap/scss/bootstrap-icons.scss";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

.auth-box {
    width: 100%;
}

@include media-breakpoint-up(md) {
    .auth-box {
        width: 350px;
    }
}

.dt-info {
    text-align: end;
    margin-bottom: 1rem;
}

div.dt-container div.dt-paging ul.pagination {
    justify-content: end;
}